[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-data-tables = "*"
pandas = "*"
numpy = "*"
python-dotenv = "*"
azure-storage-blob = "*"
jupyter = "*"
chardet = "*"
openpyxl = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.11"
